/*bg=background*/
.primary-color{
  color: #d4e157;
}
.primary-bg-color{
  background-color: #d4e157;
}
.primary-light-color{
  color: #ffff89;
}
.primary-light-bg-color{
  background-color: #ffff89;
}
.primary-dark-color{
  color: #a0af22;
}
.primary-dark-bg-color{
  background-color: #a0af22;
}


.secondary-color{
  color: #66bb6a;
}
.secondary-bg-color{
  background-color: #66bb6a;
}
.secondary-light-color{
  color: #98ee99;
}
.secondary-light-bg-color{
  background-color: #98ee99;
}
.secondary-dark-color{
  color: #338a3e;
}
.secondary-dark-bg-color{
  background-color: #338a3e;
}
.white{
color: #FAFAFA;
}
.black{
color: #4A5158;
}
.white-bg-color{
background-color: white;
}
.black-bg-color{
background-color: black;
}


.primary-button-color{
  background-color: #d4e157;
}
.primary-button-color:hover{
  background-color: #ffff89;
}
.primary-button-color:active{
  background-color: #a0af22;
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,0.1);
}
.primary-button-color:focus{
  background-color: #a0af22;
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,0.1);
}

.secondary-button-color{
  background-color: #66bb6a;
}
.secondary-button-color:hover{
  background-color: #98ee99;
}
.secondary-button-color:active{
  background-color: #338a3e;
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,0.1);
}
.secondary-button-color:focus{
  background-color: #338a3e;
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,0.1);
}

.white-button-color{
  background-color: #EFEFEF;
}
.white-button-color:hover{
  background-color: #FAFAFA;
}
.white-button-color:active{
  background-color: #D0D0D0;
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,0.1);
}
.white-button-color:focus{
  background-color: #D0D0D0;
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,0.1);
}
